<a href="https://colab.research.google.com/github/MINJIN82/-Ubion/blob/main/type2_3rd(blank)_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 작업형2
- 빅데이터 분석기사 3회 실기
- 제공된 데이터
    - train.csv
    - test.csv
- 예측할 컬럼 : TravelInsurance

### 시험에서 제공된 코드
~~~
import pandas as pd
a = pd.read_csv("train.csv")
b = pd.read_csv('test.csv')

pd.DataFrame(변수).to_csv('000000000.csv')
~~~


### 보험가입 확률을 묻는 문제
~~~
# csv 형태
# index,y_pred
# 0,0.152467
# 1,0.961511
# 2,0.151313
# 3,0.236632
...
# 494,0.121372
# 495,0.965155
# 496,0.986405

~~~

## 데이터 불러오기

In [2]:
import pandas as pd
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

## EDA

In [3]:
# 크기 확인
train.shape, test.shape

((1490, 10), (497, 9))

In [5]:
# 샘플 확인
print(train.head(), test.head())

   Unnamed: 0  Age               Employment Type GraduateOrNot  AnnualIncome  \
0         888   28  Private Sector/Self Employed           Yes       1250000
1        1308   31  Private Sector/Self Employed           Yes       1250000
2         151   29  Private Sector/Self Employed           Yes       1200000
3         396   33             Government Sector           Yes        650000
4         135   28  Private Sector/Self Employed           Yes        800000

   FamilyMembers  ChronicDiseases FrequentFlyer EverTravelledAbroad  \
0              6                1            No                  No
1              7                1            No                  No
2              7                0            No                  No
3              6                1            No                  No
4              6                0            No                 Yes

   TravelInsurance
0                0
1                0
2                1
3                1
4                1      Unnamed: 0  Age               Employment Type GraduateOrNot  AnnualIncome  \
0         920   32             Government Sector           Yes        650000
1         777   27             Government Sector           Yes        500000
2         696   32             Government Sector           Yes        350000
3         907   26  Private Sector/Self Employed           Yes       1400000
4         675   27  Private Sector/Self Employed            No        350000

   FamilyMembers  ChronicDiseases FrequentFlyer EverTravelledAbroad
0              5                0            No                  No
1              5                0            No                  No
2              2                0            No                  No
3              6                0            No                 Yes
4              3                0            No                  No

In [6]:
# 타입 확인
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1490 entries, 0 to 1489
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           1490 non-null   int64
 1   Age                  1490 non-null   int64
 2   Employment Type      1490 non-null   object
 3   GraduateOrNot        1490 non-null   object
 4   AnnualIncome         1490 non-null   int64
 5   FamilyMembers        1490 non-null   int64
 6   ChronicDiseases      1490 non-null   int64
 7   FrequentFlyer        1490 non-null   object
 8   EverTravelledAbroad  1490 non-null   object
 9   TravelInsurance      1490 non-null   int64
dtypes: int64(6), object(4)
memory usage: 116.5+ KB

In [7]:
# 결측치 확인 train
print(train.isnull().sum())

Unnamed: 0             0
Age                    0
Employment Type        0
GraduateOrNot          0
AnnualIncome           0
FamilyMembers          0
ChronicDiseases        0
FrequentFlyer          0
EverTravelledAbroad    0
TravelInsurance        0
dtype: int64

In [8]:
# 결측치 확인 test
print(test.isnull().sum())

Unnamed: 0             0
Age                    0
Employment Type        0
GraduateOrNot          0
AnnualIncome           0
FamilyMembers          0
ChronicDiseases        0
FrequentFlyer          0
EverTravelledAbroad    0
dtype: int64

In [9]:
# 기초 통계 획인
print(train.describe(),test.describe())

        Unnamed: 0          Age  AnnualIncome  FamilyMembers  ChronicDiseases  \
count  1490.000000  1490.000000  1.490000e+03    1490.000000      1490.000000
mean    992.277181    29.600000  9.310738e+05       4.755705         0.280537
std     566.637006     2.887829  3.763057e+05       1.603613         0.449412
min       0.000000    25.000000  3.000000e+05       2.000000         0.000000
25%     502.250000    28.000000  6.000000e+05       4.000000         0.000000
50%     994.500000    29.000000  9.000000e+05       5.000000         0.000000
75%    1479.750000    32.000000  1.250000e+06       6.000000         1.000000
max    1983.000000    35.000000  1.800000e+06       9.000000         1.000000

       TravelInsurance
count      1490.000000
mean          0.352349
std           0.477862
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000           Unnamed: 0         Age  AnnualIncome  FamilyMembers  ChronicDiseases
count   497.000000  497.000000  4.970000e+02     497.000000       497.000000
mean    995.167002   29.800805  9.378270e+05       4.744467         0.269618
std     595.113355    2.986286  3.788348e+05       1.629211         0.444208
min       5.000000   25.000000  3.000000e+05       2.000000         0.000000
25%     468.000000   28.000000  6.000000e+05       4.000000         0.000000
50%     986.000000   29.000000  9.000000e+05       5.000000         0.000000
75%    1550.000000   33.000000  1.250000e+06       6.000000         1.000000
max    1986.000000   35.000000  1.750000e+06       9.000000         1.000000

In [10]:
# 기초 통계 획인 object
print(train.describe(include = "O"))
print(test.describe(include = "O"))

                     Employment Type GraduateOrNot FrequentFlyer  \
count                           1490          1490          1490
unique                             2             2             2
top     Private Sector/Self Employed           Yes            No
freq                            1056          1270          1175

       EverTravelledAbroad
count                 1490
unique                   2
top                     No
freq                  1209
                     Employment Type GraduateOrNot FrequentFlyer  \
count                            497           497           497
unique                             2             2             2
top     Private Sector/Self Employed           Yes            No
freq                             361           422           395

       EverTravelledAbroad
count                  497
unique                   2
top                     No
freq                   398

In [11]:
# 타겟(레이블)
train['TravelInsurance'].value_counts()

0    965
1    525
Name: TravelInsurance, dtype: int64

## 데이터 전처리 및 피처엔지니어링

In [13]:
# 수치형 데이터와 범주형 데이터 분리
n_train = train.select_dtypes(exclude = "O").copy()
c_train = train.select_dtypes(include = "O").copy()
n_test = test.select_dtypes(exclude = "O").copy()
c_test = test.select_dtypes(include = "O").copy()

In [19]:
col = train.select_dtypes(exclude = "O").columns
col

Index(['Unnamed: 0', 'Age', 'AnnualIncome', 'FamilyMembers', 'ChronicDiseases',
       'TravelInsurance'],
      dtype='object')

In [22]:
# 수치형 변수 스케일링
from sklearn.preprocessing import MinMaxScaler
cols =[ 'Age', 'AnnualIncome', 'FamilyMembers', 'ChronicDiseases']
scaler = MinMaxScaler()
n_train[cols] = scaler.fit_transform(n_train[cols])
n_test[cols] = scaler.transform(n_test[cols])

print(n_train.head(),n_test.head())

   Unnamed: 0  Age  AnnualIncome  FamilyMembers  ChronicDiseases  \
0         888  0.3      0.633333       0.571429              1.0
1        1308  0.6      0.633333       0.714286              1.0
2         151  0.4      0.600000       0.714286              0.0
3         396  0.8      0.233333       0.571429              1.0
4         135  0.3      0.333333       0.571429              0.0

   TravelInsurance
0                0
1                0
2                1
3                1
4                1      Unnamed: 0   Age  AnnualIncome  FamilyMembers  ChronicDiseases
0         920  32.0      650000.0            5.0              0.0
1         777  27.0      500000.0            5.0              0.0
2         696  32.0      350000.0            2.0              0.0
3         907  26.0     1400000.0            6.0              0.0
4         675  27.0      350000.0            3.0              0.0

In [25]:
col = train.select_dtypes(include = "O").columns
col

Index(['Employment Type', 'GraduateOrNot', 'FrequentFlyer',
       'EverTravelledAbroad'],
      dtype='object')

In [27]:
# 범주형 변수 인코딩
from sklearn.preprocessing import LabelEncoder
cols = ['Employment Type', 'GraduateOrNot', 'FrequentFlyer','EverTravelledAbroad']

for col in cols:
    scaler = LabelEncoder()
    c_train[col] = scaler.fit_transform(c_train[col])
    c_test[col] = scaler.transform(c_test[col])

print(c_train.head())
print(c_test.head())

   Employment Type  GraduateOrNot  FrequentFlyer  EverTravelledAbroad
0                1              1              0                    0
1                1              1              0                    0
2                1              1              0                    0
3                0              1              0                    0
4                1              1              0                    1
   Employment Type  GraduateOrNot  FrequentFlyer  EverTravelledAbroad
0                0              1              0                    0
1                0              1              0                    0
2                0              1              0                    0
3                1              1              0                    1
4                1              0              0                    0

In [29]:
# 분리한 데이터 다시 합침
train = pd.concat([n_train,c_train], axis = 1)
test = pd.concat([n_test, c_test],axis = 1)
print(train.shape,test.shape)
print(train.head())

(1490, 10) (497, 9)
   Unnamed: 0  Age  AnnualIncome  FamilyMembers  ChronicDiseases  \
0         888  0.3      0.633333       0.571429              1.0
1        1308  0.6      0.633333       0.714286              1.0
2         151  0.4      0.600000       0.714286              0.0
3         396  0.8      0.233333       0.571429              1.0
4         135  0.3      0.333333       0.571429              0.0

   TravelInsurance  Employment Type  GraduateOrNot  FrequentFlyer  \
0                0                1              1              0
1                0                1              1              0
2                1                1              1              0
3                1                0              1              0
4                1                1              1              0

   EverTravelledAbroad
0                    0
1                    0
2                    0
3                    0
4                    1

## 검증데이터 분리

In [33]:
# 검증데이터 분리
from sklearn.model_selection import train_test_split
X_tr,X_val,y_tr,y_val = train_test_split(train.drop('TravelInsurance',axis=1),
                                         train['TravelInsurance'],
                                         test_size = 0.1,
                                         random_state = 2022)

X_tr.shape, X_val.shape, y_tr.shape, y_val.shape

((1341, 9), (149, 9), (1341,), (149,))

## 모델 학습 및 예측

In [44]:
# 랜덤포레스트
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators = 400, max_depth=9,random_state=2022)
model.fit(X_tr,y_tr)
pred = model.predict_proba(X_val)

In [ ]:
help(RandomForestClassifier)

In [45]:
# 평가
from sklearn.metrics import roc_auc_score
print(roc_auc_score(y_val,pred[:,1]))

0.7006493506493505

## 예측

In [46]:
# test 예측
pred = model.predict_proba(test)[:,1]

In [48]:
# csv 파일1 생성 (예시와 다른 형태)
submit = pd.DataFrame({
                        "index":test.index,
                        "y_pred":pred
})

submit.to_csv('0000.csv',index=False)

In [ ]:
# csv 파일2 생성

In [49]:
# csv 파일1 확인
pd.read_csv("0000.csv")

     index    y_pred
0        0  0.650684
1        1  0.611844
2        2  0.601844
3        3  0.816258
4        4  0.641742
..     ...       ...
492    492  0.674775
493    493  0.824858
494    494  0.747142
495    495  0.837187
496    496  0.797358

[497 rows x 2 columns]

In [ ]:
# csv 파일2 확인

## 체점
- 수험자는 알 수 없는 부분임

In [50]:
y_test = pd.read_csv("y_test.csv")
roc_auc_score(y_test, pred)

0.6630977130977131

In [ ]:
# 당신의 score는?: 0.7875693000693