In [2]:
"a" in "abc"
#문자"a"가 "abc"안에 있는지
#포함되어 있다면 true 아니면 false

True

In [3]:
1 in [1,2,3,4]
#리스트도 마찬가지로 가능하다

True

In [4]:
1 not in [1,2,3,4]

False

In [12]:
score = 62

if score > 90 :
    print("A")
elif score > 80 :
    print("B")
elif score >70 :
    print("C")
elif score > 60 :
    print("D")
else :
    print("F")

#간단한 if문 사용

D

In [20]:
try : 
    1/3
except :
    print("분모가 0이 나왔음")
else :
    print("분모 이상없음")

분모 이상없음

In [23]:
#반복문 while , for
i = 0 
while i < 10 : #i가 10미만이라면 4행 명령을 실행해라
    i=i+1      #i에 1을 더한다
    print(i)   #1이 더해진 1을 프린트한다.

1
2
3
4
5
6
7
8
9
10

In [35]:
for i in range(10) :
    print(i)

0
1
2
3
4
5
6
7
8
9

In [26]:
j = 0
for i in range(10) :
    j += i
    print(j)

0
1
3
6
10
15
21
28
36
45

In [28]:
for i in range(5,10) : 
    print(i, end = " ")
#end 뒤 공백은 결과값 사이사이 공백을 의미한다.

5 6 7 8 9

In [34]:
def f(a) :
    out = a/3
    return out

f(30)

10.0